:root, [data-bs-theme=light] {
  --bs-success: #61927b;
  --bs-success-rgb: 97,146,123;
  --bs-success-text-emphasis: #273A31;
  --bs-success-bg-subtle: #DFE9E5;
  --bs-success-border-subtle: #C0D3CA;
  --bs-warning: #8c7c4d;
  --bs-warning-rgb: 140,124,77;
  --bs-warning-text-emphasis: #38321F;
  --bs-warning-bg-subtle: #E8E5DB;
  --bs-warning-border-subtle: #D1CBB8;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #61927b;
  --bs-btn-border-color: #61927b;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #79A28F;
  --bs-btn-hover-border-color: #719D88;
  --bs-btn-focus-shadow-rgb: 15,22,18;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #81A895;
  --bs-btn-active-border-color: #719D88;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #61927b;
  --bs-btn-disabled-border-color: #61927b;
}

.btn-outline-success {
  --bs-btn-color: #61927b;
  --bs-btn-border-color: #61927b;
  --bs-btn-focus-shadow-rgb: 97,146,123;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #61927b;
  --bs-btn-hover-border-color: #61927b;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #61927b;
  --bs-btn-active-border-color: #61927b;
  --bs-btn-disabled-color: #61927b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #61927b;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8c7c4d;
  --bs-btn-border-color: #8c7c4d;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9D9068;
  --bs-btn-hover-border-color: #98895F;
  --bs-btn-focus-shadow-rgb: 21,19,12;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A39671;
  --bs-btn-active-border-color: #98895F;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8c7c4d;
  --bs-btn-disabled-border-color: #8c7c4d;
}

.btn-outline-warning {
  --bs-btn-color: #8c7c4d;
  --bs-btn-border-color: #8c7c4d;
  --bs-btn-focus-shadow-rgb: 140,124,77;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8c7c4d;
  --bs-btn-hover-border-color: #8c7c4d;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8c7c4d;
  --bs-btn-active-border-color: #8c7c4d;
  --bs-btn-disabled-color: #8c7c4d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8c7c4d;
}

